:root {
  --clr-blue: hsl(210, 100%, 56%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(210, 2%, 83%);
  --clr-dark-grey: hsl(0, 0%, 14%);
  --background-clr: rgb(250, 251, 253);

  --border-radius-10: 10px;
  --border-radius-50: 50%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-dark-grey);
  background-color: var(--background-clr);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--clr-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
